// COLORES
$light-bg-one: #e4dcd4;
$light-bg-two: #dcd4d4;
$dark-bg-one: #1c2424;
$dark-bg-one-select: #242c34;
$dark-bg-two: #242c2c;
$color-button: #44b4ec;

// OTROS
$transition-button-icon: 0.4s all ease-in-out;
