@import "./variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

header {
  display: flex;
  width: auto;
  height: 100vh;
  font-size: 2rem;
  color: white;
  background-color: $dark-bg-one;
  flex-direction: column;
  align-items: center;
}

.nav-icon {
  margin-top: 20px;
}

.nav-icon__button {
  display: flex;
  margin: 8px;
  padding: 2px;
  transition: $transition-button-icon;
  cursor: pointer;

  &:hover {
    background-color: $dark-bg-one-select;
    border-radius: 12px;
  }

  span {
    margin: 32px 0;
    transition: $transition-button-icon;
    border-left: 6px solid transparent;
  }

  img {
    width: 40px;
    height: 40px;
    margin: 16px;
    filter: invert(100%);
  }
}

.active {
  transition: $transition-button-icon;
  background-color: $dark-bg-one-select;
  border-radius: 12px;

  span {
    margin: 16px 0;
    transition: $transition-button-icon;
    border-left: 6px solid $color-button;
    border-radius: 12px;
  }
}

main {
  display: flex;
  width: 100%;
  font-size: 4rem;
  background-color: $dark-bg-two;
  justify-content: center;
  align-items: center;
}

// TIMER
.timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .title {
    font-size: 5.6rem;
    color: white;
  }

  div {
    display: flex;
    font-size: 10rem;
    font-weight: 400;
    justify-content: center;
    align-items: center;

    .points {
      height: 190px;
    }

    .info {
      display: flex;
      width: 112px;
      height: 200px;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    // INPUTS
    input {
      font-size: 10rem;
      text-align: center;
      outline: none;
      color: white;
      background: none;
      border: none;
      font-weight: 400;
    }

    input[type="number"] {
      max-width: 120px;
      -webkit-appearance: textfield;
      -moz-appearance: textfield;
      appearance: textfield;
      transition: opacity 0.2s;
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
    }

    input:focus::placeholder {
      transition: opacity 0.2s;
      opacity: 0;
    }

    span {
      height: 120px;
    }

    label {
      font-size: 2.4rem;
    }

  }

  div {
    font-size: 10rem;
    font-weight: 400;
  }

  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;

    button {
      display: flex;
      width: 72px;
      height: 72px;
      margin: 12px;
      font-size: 2.4rem;
      border: none;
      cursor: pointer;
      font-weight: 700;
      border-radius: 100%;
      background-color: $color-button;
      justify-content: center;
      align-items: center;

      img.start {
        width: 24px;
        height: 24px;
      }

      img.stop {
        width: 28px;
        height: 28px;
      }

      &#reset {
        border: 1px solid white;
        background-color: #343c3c;
      }

      img.reset {
        width: 30px;
        height: 30px;
        filter: invert(100%);
      }
    }
  }
}
//

// CHRONOMETER
.chronometer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .title {
    font-size: 5.6rem;
    color: white;
  }

  div {
    display: flex;
    font-size: 10rem;
    font-weight: 400;
    justify-content: center;
    align-items: center;

    .points {
      height: 164px;
    }

    .info {
      display: flex;
      width: 112px;
      height: 200px;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    span {
      height: 120px;
    }

    p {
      font-size: 2.4rem;
    }

    #mili-seconds {
      font-size: 8rem;
    }
  }

  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;

    button {
      display: flex;
      width: 72px;
      height: 72px;
      margin: 12px;
      font-size: 2.4rem;
      border: none;
      cursor: pointer;
      font-weight: 700;
      border-radius: 100%;
      background-color: $color-button;
      justify-content: center;
      align-items: center;

      img.start {
        width: 24px;
        height: 24px;
      }

      img.stop {
        width: 28px;
        height: 28px;
      }

      &#reset {
        border: 1px solid white;
        background-color: #343c3c;
      }

      img.reset {
        width: 30px;
        height: 30px;
        filter: invert(100%);
      }
    }
  }
}
//